<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.1.1-web/css/all.min.css">
  <link rel="stylesheet" href="dashboard.component.css">


</head>
<body>
  <div class="app">

      <!-----------------Header section----------------->
    <header class="header margin-auto ">
      <div class="nav-bar flex ">
        <div class="logo flex">
          <div class="logo-container px-3">
            <img src="https://static.nc-img.com/uxteam/lc.simple-pages/nclabs-logo-maker-2020/img/logo-maker-1.c27a66c4.svg" alt="">
          </div>
        </div>
        <div class="search-bar flex">
          <input type="text" placeholder="Type to search ..." class="search-bar__input text-m">
        </div>
        <div class="search-icon text-xxl margin-auto">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="utility flex">
          <div class="utility__share-btn btn btn-primary text-m">
            Share
            <i class="fa-solid fa-share-from-square"></i>
          </div>
          <div class="utility__create-new-btn btn btn-primary text-m">
            Create new
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="utility__bell-icon-wrapper px-1 py-1">
            <div class="utility__bell-icon text-xxl">
              <i class="fa-solid fa-bell"></i>
            </div>
          </div>
          <div class="utility__avatar">
            <img src="https://studyingbreakingbadcourse.files.wordpress.com/2016/02/walt-wearing-hat.jpg" alt="">
          </div>
        </div>
      </div>
    </header>
      <!---------------End of Header section----------------->



    <main class="main">
      <!-------------------Greeting section------------------->
      <div class="row">
        <div class="main__greeting flex flex-row">
          <div class="col col-8 greeting-main">
              <div class="greeting-main__text">
                <p>
                  good morning ! <span> mr white</span>
                </p>
                <p>
                  Have a nice day at work. 
                </p>
              </div>
          </div>
          <div class="col col-4 greeting-weather">

          </div>
        </div>
      </div>

      <!-------------------End of Greeting section------------------->

      <!-------------------Banner section------------------->
      <div class="row">
        <div class="main__banner flex flex-row text-m font-bold">
          <div class="col col-4 flex main__banner-item">
            Percentage of gender working more
            than 40 hours a week</div>
          <div class="col col-4 flex main__banner-item ">people that  workout more than x hours per week have More/less time off available</div>
          <div class="col col-4 flex main__banner-item">people that  workout more than x hours per week have Lower/higher blood pressure</div>
          <div class="col col-4 flex main__banner-item">people that  workout more than x hours per week have Lower/higher respiration
            rate</div>

        </div>
      </div>
      <!-------------------End of Banner section----------------- -->




      <!-------------------Filters section------------------->
      <div class="row">
        <div class="col col-1 main__filters flex text-m">
          <div class="col col-9 main__filters-item font-bold btn">Employee</div>
          <div class="col col-9 main__filters-item font-bold btn">Age</div>
          <div class="col col-9 main__filters-item main__filters-item--active font-bold btn">Gender</div>
          <div class="col col-9 main__filters-item font-bold btn">Height</div>
          <div class="col col-9 main__filters-item font-bold btn">Body Temp</div>
          <div class="col col-9 main__filters-item font-bold btn">Pulse Rate</div>
          <div class="col col-9 main__filters-item font-bold btn">Blood Pressure</div>
          <div class="col col-9 main__filters-item font-bold btn">Respiration Rate</div>
          <div class="col col-9 main__filters-item font-bold btn">Filters
          </div>
        </div>
      </div>
       <!-------------------End of Filters section------------------->


      <!---------------------Employee data section------------------- -->
      <div class="row">
        <div class="main__employee-data">

      <!---------------------Employee data section HEADER------------------- --> 
          <div class="col col-1 flex text-m font-bold employee-data__header">
            <div class="col col-12 employee-data__item">Employee</div>
            <div class="col col-12 employee-data__item">Age</div>
            <div class="col col-12 employee-data__item">Gender</div>
            <div class="col col-12 employee-data__item">Height</div>
            <div class="col col-12 employee-data__item">Weight</div>
            <div class="col col-12 employee-data__item">Body Temp</div>
            <div class="col col-12 employee-data__item">Pulse Rate</div>
            <div class="col col-12 employee-data__item">Blood Pressure</div>
            <div class="col col-12 employee-data__item">Respiration Rate</div>
            <div class="col col-12 employee-data__item">Avg Hrs Exerc Per Wk</div>
            <div class="col col-12 employee-data__item">Vacation Balance</div>
            <div class="col col-12 employee-data__item">Avg hrs Work Per Wk</div>
          </div>
      <!---------------------End of Employee data section HEADER------------------- --> 


      <!---------------------Employee data section MAIN------------------- --> 
          <div class="employee-data__main">



          </div>
      <!---------------------End of Employee data section MAIN------------------- --> 
      
        </div>
      </div>
      <!---------------------End of Employee data section------------------- -->


    </main>


      <!---------------------FOOTER------------------- --> 

    <footer class="footer">

    </footer>
      <!---------------------End of FOOTER------------------- --> 

  </div>

      <!---------------------MODAL------------------- --> 
  <div class="modal flex">
    <div class="modal__overlay">

    </div>
    <div class="modal__body">
      <div class="modal__inner">

      </div>
    </div>
  </div>
  <!---------------------End of MODAL------------------- --> 

</body>
